html, body, #viewer {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

.custom-tooltip {
    max-width: none;
    width: 300px;
    padding: 0;
    box-shadow: 0 0 0 3px white;
}

.custom-tooltip img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.custom-tooltip h2,
.custom-tooltip p {
    margin: 1rem;
    text-align: justify;
}
